<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>2016060810591211</string>
		<key>title</key>
		<string>安杜因洛萨</string>
		<key>detail</key>
		<string>　　职业：战士 装x利器：座骑狮鹫
　　技能-近战伤害：洛萨是名英勇无畏的勇士。为了捍卫家园，保护国王和他的臣民，他总是一马当前，冲锋陷阵。
　　关于安杜因?洛萨的小故事：洛萨是暴风城的骑士也是阿拉希血统的唯一传人，他骁勇善战，曾担任过铁马兄弟会第七任会长、艾泽拉斯王国摄政王和洛丹伦联盟最高统帅。他将自己的一生献给了他的国家，为了艾泽拉斯的和平，身先士卒与兽人开战。当他得知莱恩国王独自率军进攻兽人部落时，他因身在卡拉赞，无法及时前往护驾。莱恩国王在战乱中牺牲，这彻彻底底激怒了洛萨。满腔怒火的他决定和邪恶的兽人将领布莱克汉?黑手决斗，并成功将其斩杀。此举赢得了大部分正义兽人战士的敬佩，他们决定让洛萨独自离开，停止无谓的厮杀。</string>
		<key>star</key>
		<string>5</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>2016060810593077</string>
		<key>title</key>
		<string>莱恩乌瑞恩国王</string>
		<key>detail</key>
		<string>职业：战士
　　技能1-防御：莱恩国王身上的重甲由多种稀缺金属炼就，能抵抗兽人们的斧刃、战锤或狼牙棒等重型武器的伤害。
　　技能2-怒气：莱恩国王深得民心，拥有至高无上的权威。在战争中，他的怒气值会不断增加。士兵们听到国王怒吼的那一刻，便是发动总攻的最佳时机。
　　关于莱恩?乌瑞恩国王的小故事：莱恩?乌瑞恩一世是洛萨的童年好友，也是暴风王国的第一任统治者。为了保卫家园，他独自率领人类大军进攻兽人的根据地。不料却发现兽人根据地中的黑暗之门正源源不断的传送着兽人战士。莱恩国王发现自己中了圈套时已为时已晚。人类大军全军覆没，莱恩国王也不幸牺牲。</string>
		<key>star</key>
		<string>5</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>2016060810594761</string>
		<key>title</key>
		<string>卡德加</string>
		<key>detail</key>
		<string>　职业：法师
　　装x技能-远程伤害：卡德加的进攻技能大多是群攻，可在一定范围内同时打击敌人。他们练就的是一身呼风唤雨的本领，可召唤出从天而降的风雪雷暴、形成陨石或狂风骤雨，这些天气阴晴变化搅乱敌营的同时，也为己方战士的冲锋提供有力的时机。
　　关于卡德加的小故事：卡德加是人类大法师，在与兽人的战争中与洛萨并肩作战。他的名字“Khadgar”在矮人语中译为“信赖”，这也是他性格的绝佳写照。而作为守望堡的永恒守护者，他拥有极高的天赋，年纪轻轻便能独当一面。同时他也是“魔兽”游戏中的重要英雄角色，有着极高的粉丝人气。</string>
		<key>star</key>
		<string>4</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>2016060811000232</string>
		<key>title</key>
		<string>麦迪文</string>
		<key>detail</key>
		<string>　　职业：法师 装x利器：装备埃提耶什守护者的传说之杖
　　技能1-控制：在游戏中，最令对手头疼的招数便是将敌人禁锢在原地不动，任人宰割。在魔兽的竞技游戏DOTA中，法师的控制技能往往能决定一场战役的胜负。
　　技能2-远程传送：麦迪文可以运用魔法将自己和队友在不同的目的地之间传送，这极大的提高了远征部队的行军能力。在电影中，也是他将人类大军带到了兽人的部落。
　　关于麦迪文的小故事：麦迪文师出名门，父母都是著名的大法师。十四岁的时候，他的母亲，守护者艾格文独自离开暴风要塞，留下他和父亲，与人类法师聂拉斯?埃兰生活在一起。他的名字，在高等精灵语中意即“保守秘密的人”。小时候，他是洛萨与莱恩的共同好友，他们一起在艾泽拉斯王国长大。后来，他被民众拥称为“艾泽拉斯最后的守护者”。然而，他的身躯却不幸地被恶魔占有，行为开始反常。
　　在电影中，他的身份转变是全剧最重要的情节转折。洛萨与卡德加发现时，麦迪文已经被恶魔完全侵染，无奈之下只能毁灭他的肉身。但是，麦迪文体内的恶魔却逃之夭夭，进入深渊。或许，这便是下一部《魔兽》电影的开头。</string>
		<key>star</key>
		<string>4</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>2016060810573363</string>
		<key>title</key>
		<string>杜隆坦</string>
		<key>detail</key>
		<string>职业：战士 装x利器：座骑霜狼
　　技能1-近战伤害：战士一般单手持着斧刃或战锤，因为拥有强大臂力的他们可以轻松的挥舞巨型武器。杜隆坦的父亲，加拉德便曾使用“裂斩”巨斧。它被打磨到只有一片树叶那样薄，削铁如泥。
　　技能2-防御：战士身上的重甲是他们的第二重皮肤，在搏斗中战士防御了得。在战争中，他们便会换上战甲，这大块的甲片可是能够抵御斧刃、战锤或狼牙棒等重型武器的伤害。而在日常狩猎中，兽人也会穿上特质的狩猎甲胄，用以抵抗牛蹄和鹿角等锐物的撞击。
　　关于杜隆坦Durotan的小故事：他是本片的主角之一，是霜狼氏族年轻的酋长。他与古尔丹的恩恩怨怨可以从他的父亲说起。在《魔兽》官方小说《杜隆坦》中，他的父亲加拉德因受到古尔丹蛊惑，被沾有毒液的小刀刺破手掌。随后加拉德与红步兽人进行了一对一对决，身中剧毒的他难以使出全力，最后惨死在对手的战斧之下。
　　成年后的杜隆坦从此他肩负起了保护族人的使命，当上了酋长，并毅然带领部族穿越黑暗之门，来到了古尔丹所说的那个“水草丰茂”的新家园——艾泽拉斯。当他觉察到古尔丹的阴谋后，又再次不顾其他部族的反对与人类进行谈判。在他雄武有力的身躯之下，存有一个善良、正义且充满敬畏的灵魂。</string>
		<key>star</key>
		<string>3</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>2016060810575463</string>
		<key>title</key>
		<string>奥格瑞姆</string>
		<key>detail</key>
		<string>　职业：战士 装x利器：毁灭之锤
　　技能-怒气：在战争中，当战士收到伤害时，他们的怒气值便会增加。积累到一定程度，怒气便会给战士带来超常的暴击能力。
　　战斗姿态:冲锋在前的奥格瑞姆会根据战况切换自己的进攻和防御姿态。对于战士来说，或许最好的进攻便是竭尽全力保全队友，并找准时机，给予对手致命一攻。
　　关于奥格瑞姆的小故事：奥格瑞姆是杜隆坦从童年一起走来的好“基友”，两人一起成长、狩猎、战斗。他拥有比杜隆坦更雄武的身躯和更快的移动速度;而出身也是个不折不扣的“官二代”。他本是黑石氏族首领布莱克汉的副官，并追随布莱克汉率军远征艾泽拉斯。而就是在艾泽拉斯，他和杜隆坦再度相逢，这对童年好友的较量即将开始。
　　小结：杜隆坦和奥格瑞姆是兽人族当之无愧的伟大战士。在任何一场战役中，战士总是冲锋在前。强大的战士会依靠自己的重甲和盾牌来保护身后的队友。因为他们需要挥舞着巨型的武器，刺穿敌人的防线，优秀战士的成长总是伴随着艰苦卓绝的臂力训练。另外，战士的怒气值是他们的必杀技，战况越激烈，战士就越能在关键时刻点燃心中的小宇宙，统领战场。</string>
		<key>star</key>
		<string>3</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>2016060810582717</string>
		<key>title</key>
		<string>迦罗娜</string>
		<key>detail</key>
		<string>　　职业：潜行者
　　技能1-潜行：在游戏中，潜行者们往往具备隐身技能。他们要么主动激发技能，实现隐身，快步来到敌人身后，发动出其不意的攻击;要么在夜色的掩护下，被动隐藏自己的行踪。不管怎样，他们的目的只有一个，让敌人死都不知道自己怎么死的，杀人于无形。
　　技能2-近战伤害：迦罗娜的武器会涂抹致命毒剂，在连续的攻击中，给敌人造成难以承受的伤害叠加。
　　技能3-闪避：还记得“魔兽争霸”中暗夜精灵的恶魔猎手吗?当他的闪避光环满级时，或许游戏中出现最多的英文单词便是“miss”，敌人无法击中潜行者们。闪避的天赋能让潜行者轻松自如进出战场，帮助他们找到敌方阵营中的软肋，并一举击破。
　　技能4-连击：身轻如燕的迦罗娜行动起来自然十分灵敏。他们在进攻时，往往会通过连续组合进攻来给予对手最大程度的伤害。
　　关于迦罗娜的小故事：杜隆坦第一次见到迦罗娜是在部落的村庄中央王座上，迦罗娜被铁链绑住，像一名奴隶一样半蹲在古尔丹身旁。她的躯体像树梢的枝节一般脆弱，在绿色的皮囊之下看不到丝毫希望之光。但她眼睛中的火焰又告诉众人，她不是一名奴隶，她会用行动证明自己将成为艾泽拉斯大地上的一个传奇。在战争中，她不幸被人族俘获。
　　事情往往就是如此反转，最后她惊讶地发现，如果人类和兽人都愿意更多地了解对方，那么这场战争是可以避免的。一股沉思与纠结翻涌使得她身陷其中。
　　小结：老玩家一定对“盗贼”的称呼记忆犹新，没错，“盗贼”摇身一变变成了“潜行者”，暴雪公司说这个改动是为了给广大青少年传递正能量。游戏中的潜行者是一群行动敏捷、神出鬼没的近战英雄。他们擅长夜间活动，悄悄来到敌人身后，将利刃刺穿敌人的铠甲，直抵要害部位。当敌人发现自己胸口流淌的鲜血而准备拔刀反抗时，潜行者们早已消失得无影无踪。对他们来说，上一个敌人的倒下，便是下一个敌人献出生命的时刻。</string>
		<key>star</key>
		<string>3</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>2016060810584765</string>
		<key>title</key>
		<string>古尔丹</string>
		<key>detail</key>
		<string>　职业：术士
　　技能1-宠物：宠物和奴仆是术士身份的象征，他们誓死保卫着主人们。古尔丹第一次踏足霜狼氏族时带着的迦罗娜便是他的奴仆。
　　技能2-诅咒和吸血：古尔丹可以通过诅咒敌人，以此来减缓敌人的行动速度，并消弱他们的战斗力和防御力。他们还可以施法吸取敌人的体力或魔法，将其挪为己用，这一点上和吸星大法类似。
　　技能3-远程伤害古尔丹的远程伤害和法师类似，能够攻人于不备。
　　技能4-灵魂碎片:古尔丹每一次吸取敌人的灵魂，都可以增强自己的法术。
　　关于古尔丹的小故事：他是电影里的大反派，是邪恶的兽人术士。当年，他用苦心经营成立影子议会，攀上兽人一族权利的巅峰。他还将恶魔之血投食给兽人大军，让兽人大肆屠杀德莱尼人。于是，兽人军队所到之处，皆留下了刺鼻的血腥味。
　　古尔丹是开启黑暗之门，将战火带到了和平的艾泽拉斯大陆的罪魁祸首。他渴望成为艾泽拉斯的新主人，所以不顾一切破坏部落和联盟的和解机会。他的傀儡布莱克汉?黑手在关键时刻告诉了他杜隆坦将和人类结盟的消息，于是他暗中破坏，让黑手伏击了莱恩?乌瑞恩国王和杜隆坦的秘密合作会议，洛萨的儿子撤退时被黑手所杀，议和计划也因此被彻底瓦解!
　　小结：在兽人部落，术士更像是充满邪恶力量的法师。和法师不同之处在于，他们会利用恶魔的力量，并从黑暗魔法中修炼技能。他们还会召唤恶魔仆从与他们并肩作战。起初，术士在外人看来只是一些会操控小喽啰的怪老头。但随着他们的成长，那些可怕的魅魔，顽固的虚空行者，凶残的地狱犬也加入了术士的队伍。他们在远处灼烧敌人、用病菌麻木敌人、最后悄无声息地窃取敌人的生命力。感觉一股卑鄙的气息油然而生，啧啧!</string>
		<key>star</key>
		<string>3</string>
	</dict>
</array>
</plist>
