<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ApplicationExtensionsPractice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>BroadcastUIExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>CallDirectoryExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>ContentBlockerExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>CustomKeyboardExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>DocumentProviderExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>DocumentProviderExtensionFileProvider.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>NotficationContentExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>NotificationServiceExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>PhotoEditingExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ShareExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SharedLinksExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>SpotlightExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>StickerPackExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>TodayExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>iMessageExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A2D81361D4B8E1800E62B0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A2D814A1D4B99C900E62B0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A2D81591D4CF23200E62B0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A895F471D4F98E0003304EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0ACE7C111D3E5B1300EB209D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0ACE7C2A1D3E5BFC00EB209D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AD3275F1D53705B0058381F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AD327741D537FB00058381F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AD3279F1D5387230058381F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AF31D5D1D521E0300943A65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>581BAD301D46019200E18F5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>581E68A51D50A04C00DA835D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>581E68B31D50A04C00DA835D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>584EAA861D48B48E00259DF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58571F731D4B3D68009B1DE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58FE568F1D49F02E002C9F56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
